<section class="main-container">
  <section class="landing profile-landing">
    <nav>
      <div class="logo-holder">
        <img src="images/logo.svg" alt="logo">
      </div>
      <div class="nav-btns">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a>Sign Out</a>
      </div>
    </nav>
    <div class="profile-container">
      <div class="profile-img"></div>
      <p class="profile-name"><%= @user["name"] %></p>
      <div class="profile-location">
        <i class="material-icons">place</i>
        <p class="location"><%= @user["origin"] ? @user["origin"]["name"] : "Not Set" %></p>
      </div>
      <p class="premium-badge"><%= @user["subscribed"] ? "Premium" : "Not Premium Yet" %></p>
      <div class="profile-subscription">
        <div class="subscription-status">
          <p>Subscription Status:</p>
          <p class="status"><%= @user["subscribed"] ? @user["subscription"]["status"].capitalize : "Not Subscribed" %></p>
        </div>
        <% if @user["subscribed"] %>
        <div class="subscription-status">
          <p>Next Billing Date:</p>
          <p class="status"><%= timestamp_to_string(@user["subscription"]["next_billing_timestamp"]) %></p>
        </div>
        <% end %>
        <% if @user["subscribed"] && @user["subscription"]["stripe_token"] %>
          <div class="auto-renew-button <%= @user["subscription"]["will_cancel_at_period_end"] ? "" : "disabled" %>">
            <%= @user["subscription"]["will_cancel_at_period_end"] ? "Turn on auto renewal" : "Turn off auto renewal" %>
          </div>
        <% end %>
        <% if @user["subscribed"] %>
          <div class="delete-subscription disabled">
            CANCEL SUBSCRIPTION
          </div>
        <% else %>
          <div class="subscribe-btn">
            Subscribe
          </div>
        <% end %>
      </div>
    </div>
    <img src="images/cloud2.svg" alt="footer cloud" class="cloudbot profile-cloud">
    <img src="images/cloud1.svg" alt="footer cloud" class="cloudtop profile-cloud">
  </section>
</section>